
body{
background-color:#52796F;
font: "Roboto", 
}

img {
    border-radius: 50%;
    border: 3px solid black;
}

header{
    
}

.navigation{
    word-spacing: 40px;
    display: inline;
    justify-content: space-between;
    padding: 20px;
    border-radius: 2px;
    font-size: larger;

}

.title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
        /* my comments */
    
}
.intro{
    max-width: 500px;
    text-align: left;
}
.aboutMeSection{
    background-color:rgb(155, 80, 80);
    color:#84A98C;
    font-size: larger;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbf6e9;
    height: 50px;
}
.centered{
    text-align: center;
}